h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.image 1{
    width: 15%
    height: auto;
}
body{
    background-color: lightgrey;
}
h1{
    text-align: center;
}
h2{
    text-align: left;
}